[Desktop Entry]
Type=Application
Name=Ariadne
GenericName=File Manager
Comment=Browse and organize your files
Exec=ariadne %U
Icon=system-file-manager
Terminal=false
StartupNotify=true
StartupWMClass=ariadne
Categories=Qt;System;FileTools;FileManager;Core;
MimeType=inode/directory;
Keywords=folder;manager;explore;disk;filesystem;
